@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif !important;
}


.h-custom-medium {
  height: 600px;
}

.h-custom-large {
  height: 660px;
}

.h-custom-mobile {
  height: 1050px;
}

.h-card-mobile {
  min-height: 500px;
}



.project-transition {
  transition: opacity 0.5s ease-in-out;
}

